<table class = "table">
        <tr>
            <th>City</th>
            <th>Max Temperature(in Celcius)</th>
            <th>Min Temperature(in Celcius)</th>
        </tr>
        <tr>
            <td>Chennai</td>
            <td>45</td>
            <td>26</td>
        </tr>
        <tr>
            <td>Kolkata</td>
            <td>35</td>
            <td>15</td>
        </tr>
        <tr>
            <td>Shimla</td>
            <td>15</td>
            <td>-10</td>
        </tr>
</table>
